<configuration>
    <!-- Default FS: Hive warehouse main bucket -->
    <property>
        <name>fs.defaultFS</name>
        <value>s3a://hive-warehouse/</value>
    </property>

    <!-- Access/secret from environment variables -->
    <property>
        <name>fs.s3a.access.key</name>
        <value>${minio_access_key}</value>
    </property>
    <property>
        <name>fs.s3a.secret.key</name>
        <value>${minio_secret_key}</value>
    </property>

    <!-- MinIO endpoint -->
    <property>
        <name>fs.s3a.endpoint</name>
        <value>http://minio_storage:9000</value>
    </property>

    <!-- Path style access for MinIO -->
    <property>
        <name>fs.s3a.path.style.access</name>
        <value>true</value>
    </property>
    <property>
        <name>fs.s3a.impl</name>
        <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
    </property>

    <!-- Optional tuning -->
    <property>
        <name>fs.s3a.connection.maximum</name>
        <value>100</value>
    </property>
    <property>
        <name>fs.s3a.fast.upload</name>
        <value>true</value>
    </property>
    <property>
    <name>fs.s3a.connection.timeout</name>
    <value>60</value> <!-- 60 seconds -->
    </property>
    <property>
        <name>fs.s3a.connection.establish.timeout</name>
        <value>60</value>
    </property>
    <property>
        <name>fs.s3a.connection.request.timeout</name>
        <value>60</value>
    </property>
</configuration>
